body {
    background-color: darkgray;

}

h1{
    text-align: center;
}

#box{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#externo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5px;
    width: 15%;
    margin-left: 40%;
}