<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h1>FRONT-END</h1>
    <p>chamado.html: A lista de chamados deve conter uma opção de ordenação. Ascendente/descendente em relação a data e
        hora de
        criação
        do chamado. Inicialmente é mostrado descendente, mas o usuário pode mudar a ordem se desejar.
    </p>

    <p>usuário.html adicionar opção de ordenação </p>

    <h1>BACK-END</h1>

    chamadoAtual.html fazer dinamicamente as opções:
    Encaminhar: Poder encaminhar pra outro técnico e outro setor.
    Tombo de patrimonio é pra fazer uma marcação somente.
    finalizar e atender também.
    Concluir vai gerar um campo text para o tec dizer qual foi a solução.








</body>

</html>