<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    
    <h1>FRONT-END</h1>
   
    
    <p>ListaTec, arrumar Formatação da tabela setores (yan);</p>
    <p>Chamados.php: centralizar a div onde contem (Nome,cargo e setor) (yan) </p> 
   
   


    <h1>BACK-END</h1>

    <p> Pesquisar como enviar email automático (Função feita , falta chamar fazer o corpo da mensagem dinâmicamente e enviar ).</p>
    <p>Ver a parada do LDAP(por último)</p>


 
    
    
   

















</body>

</html>