<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    
    <h1>FRONT-END</h1>
    <p>YAN: 
        Na página "index.php" no botão "consulta" ao inves de abrir o prompt, vc terá que fazer com que suma tudo do cadastro e seja substituído por um form contendo só um campo para o usuário digitar o cpf dele.
        Fazer o mesmo nas páginas de "cadastro setor/tecnico/problemas.php "(a diferença é que aqui vai ser pedido uma senha)
    </p>
    

    <p>Eu (vulgo caio) upar o codigo de ordenação de tabela</p>


    <h1>BACK-END</h1>

    <p> Pesquisar como enviar email automático.</p>
    <p> Permitir o usuário cancelar o chamado caso ainda esteja "em aberto".</p>
    <p>Ver a parada do LDAP(por último)</p>
    <p>Técnico/Gerente/ADM atender chamado e associar ao técnico. Mudar a situação para "em atendimento" e registrar a data/hora.</p>
    <p>Concluir/Encaminhar o chamado</p>













</body>

</html>